* {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

.recognizer {
  padding-top: 5px;
  width: 320px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.recognizer .drawingArea {
  border: 3px skyblue solid;
}

.recognizer button {
  margin: 0px 5px;
  height: 45px;
  width: 120px;
  box-shadow: none;
  border-radius: 7px;
  border: 1px solid transparent;
  font-size: 18px;
  padding: 0px 16px;
}

.recognizer .buttonBar {
  margin-top: 10px;
}

.recognizer .recognize, .recognizer .correct {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

.recognizer .clear {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.recognizer .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px;
}

.recognizer .message {
  font-size: 45px;
}

.recognizer .result {
  font-size: 160px;
}

.recognizer .wrong {
  background-color: red;
  border-color: #900;
  color: white;
}
