.recognizer .drawingArea {
  border: 3px skyblue solid;
}

.recognizer .recognize {
  height: 100px;
  width: 400px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
}
